:root {
  --primary-color: #0a2463;
  --secondary-color: #d8315b;
  --accent1-color: #3e92cc;
  --accent2-color: #fffaff;
  --heading-font: 'Pacifico', cursive;
  --paragraph-font: 'Playfair Display', serif;
  --nav-background-color: #1e1b18;
  --nav-link-color: #fffaff;
  --nav-hover-link-color: #d8315b;
  --nav-hover-background-color: #0a2463;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

footer {
  text-align: center;
  margin-top: 50px;
}