body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f8;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #0d1c64;
    margin-bottom: 25px;
}


form {
    max-width: 600px;
    background: #ffffff;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);

    display: flex;
    flex-direction: column;
    gap: 18px;
}


label {
    font-weight: bold;
    color: #333;
}


input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fff;
}


button {
    background-color: #0011aa;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #000d8c;
}
