* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; 
  color: #1c3d5a; 
}


nav {
  background-color: #003366; 
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #ffffff; 
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background-color: #00509e; 
}


main {
  max-width: 840px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #003366; 
  text-align: center;
  margin-bottom: 20px;
}


main img {
  width: 150px;
  height: auto;
  float: right; 
  border-radius: 50%;
  border: 2px solid #00509e;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-bottom: 20px;
}


p {
  padding: 0;
  line-height: 1.6;
  color: #1c3d5a; 
}


.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #e2e8ff;
  color: #000;
}


aside {
  width: 20rem;
  position: relative; 
  text-align: center;
}


aside h2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
}


aside img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}


footer {
  margin-top: 15px;
  border-top: 1px solid #00509e; 
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff; 
  color: #003366; 
}
