/* General Layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    max-width: 840px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

p {
    padding: 0;
    line-height: 1.6;
}

/* Aside Section */
aside {
    width: 20rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

aside h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

aside p {
    text-align: justify;
    line-height: 1.6;
}

/* Footer */
footer {
    margin-top: 15px;
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
    border-top: 1px solid #000;
}